package.json
package-lock.json
documentation.json
node_modules
dist
coverage
infra
.idea
*.svg
*.png
*.jpeg
*.gif
*.ico
*.gitkeep
*.browserslistrc
*.map
*.editorconfig
*.gitignore
*.prettierignore
*.sh
*.yml
*.md
*.DS_Store
/.angular/cache
.eslintrc.json
